<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/styles-login.css">
    <link rel="icon" href="source/logo-TPF.png">
    <title>TPF Engenharia - IA</title>
</head>

<body>
    <div class="area-login">
        <img class="logo-tpf-icon-png" src="source/logo-TPF.png" alt="TPF engenharia - icon">
        <main>
            <form action="/login" method="post">
                <div>
                    <label class="cred">Usuário:</label>
                    <input id="usuario" class="entradas-login" type="text" name="usuario" placeholder="Digite seu usuário" required>
                </div>
                <div>
                    <label class="cred">Senha:</label>
                    <input id="senha" class="entradas-login" type="password" name="senha" placeholder="Digite sua senha" required>
                </div>

                <div class="button-submit-container">
                    <input class="button-submit" type="submit" value="Entrar">
                    <a class="reset-password-link" href="/templates/reset-password.html">Esqueci minha senha.</a>
                </div>
            </form>
        </main>
    </div>
</body>

</html>