/* Estilização para centralizar conteúdo */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}

.container {
    text-align: center;
    background-color: gray;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}